In [114]:
import pandas as pd
import numpy as np

In [115]:
df = pd.read_csv('C:/Users/nick.chedzoy_predict/Documents/Python/Projects/Titanic Survival Prediction/Exports/cleaned_df.csv')

In [116]:
df

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,Cabin_cat,age_bucket,FareBucket,fam_mem
0,0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S,E,Adult,Low,1
1,1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C,C,Adult,VeryHigh,1
2,2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S,G,Adult,Mid,0
3,3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S,C,Adult,VeryHigh,1
4,4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S,E,Adult,Mid,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
884,886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,S,D,Adult,Mid,0
885,887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,S,B,Teen,High,0
886,888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,23.0,1,2,W./C. 6607,23.4500,S,G,Adult,High,3
887,889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C,C,Adult,High,0
888,890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,Q,F,Adult,Low,0

In [117]:
df = df.drop(columns='Unnamed: 0')

In [118]:
X = df.drop(['Survived','PassengerId','Name','Ticket'], axis=1)
X = pd.get_dummies(X)
y = df['Survived']

In [119]:
X

,Pclass,Age,SibSp,Parch,Fare,fam_mem,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S,Cabin_cat_A,Cabin_cat_B,Cabin_cat_C,Cabin_cat_D,Cabin_cat_E,Cabin_cat_F,Cabin_cat_G,Cabin_cat_T,Cabin_cat_U,age_bucket_Adult,age_bucket_Child,age_bucket_Mid_Adult,age_bucket_Senior,age_bucket_Teen,FareBucket_High,FareBucket_Low,FareBucket_Mid,FareBucket_VeryHigh
0,3,22.0,1,0,7.2500,1,False,True,False,False,True,False,False,False,False,True,False,False,False,False,True,False,False,False,False,False,True,False,False
1,1,38.0,1,0,71.2833,1,True,False,True,False,False,False,False,True,False,False,False,False,False,False,True,False,False,False,False,False,False,False,True
2,3,26.0,0,0,7.9250,0,True,False,False,False,True,False,False,False,False,False,False,True,False,False,True,False,False,False,False,False,False,True,False
3,1,35.0,1,0,53.1000,1,True,False,False,False,True,False,False,True,False,False,False,False,False,False,True,False,False,False,False,False,False,False,True
4,3,35.0,0,0,8.0500,0,False,True,False,False,True,False,False,False,False,True,False,False,False,False,True,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
884,2,27.0,0,0,13.0000,0,False,True,False,False,True,False,False,False,True,False,False,False,False,False,True,False,False,False,False,False,False,True,False
885,1,19.0,0,0,30.0000,0,True,False,False,False,True,False,True,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False,False
886,3,23.0,1,2,23.4500,3,True,False,False,False,True,False,False,False,False,False,False,True,False,False,True,False,False,False,False,True,False,False,False
887,1,26.0,0,0,30.0000,0,False,True,True,False,False,False,False,True,False,False,False,False,False,False,True,False,False,False,False,True,False,False,False
888,3,32.0,0,0,7.7500,0,False,True,False,True,False,False,False,False,False,False,True,False,False,False,True,False,False,False,False,False,True,False,False

In [120]:
from sklearn.model_selection import train_test_split
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

In [121]:
from sklearn.linear_model import LogisticRegression
log_model = LogisticRegression(max_iter=1000)
log_model.fit(X_train, y_train)
print(f"Validation Accuracy: {log_model.score(X_val, y_val):.2f}")

Validation Accuracy: 0.81

In [122]:
from sklearn.ensemble import RandomForestClassifier

rf_model = RandomForestClassifier(n_estimators=200, random_state=42)
rf_model.fit(X_train, y_train)
print(f"Validation Accuracy: {rf_model.score(X_val, y_val):.2f}")

Validation Accuracy: 0.76

In [123]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV

param_grid = {
    'n_estimators': [100, 200, 500],
    'max_depth': [None, 5, 10, 20],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4],
    'max_features': ['sqrt', 'log2']
}

rf = RandomForestClassifier(random_state=42)
grid_search = GridSearchCV(rf, param_grid, cv=5, scoring='accuracy')
grid_search.fit(X_train, y_train)

print("Best Parameters:", grid_search.best_params_)
print("Best CV Accuracy:", grid_search.best_score_)

Best Parameters: {'max_depth': None, 'max_features': 'log2', 'min_samples_leaf': 1, 'min_samples_split': 5, 'n_estimators': 500}
Best CV Accuracy: 0.8494927607603664

In [124]:
from sklearn.ensemble import RandomForestClassifier

# Best parameters and CV accuracy
print("Best Parameters:", grid_search.best_params_)
print("Best CV Accuracy:", grid_search.best_score_)

# Compare to default RandomForest settings
default_rf = RandomForestClassifier(random_state=42)
print("/nDefault Parameters:")
for k, v in default_rf.get_params().items():
    print(f"{k}: {v}")

Best Parameters: {'max_depth': None, 'max_features': 'log2', 'min_samples_leaf': 1, 'min_samples_split': 5, 'n_estimators': 500}
Best CV Accuracy: 0.8494927607603664
/nDefault Parameters:
bootstrap: True
ccp_alpha: 0.0
class_weight: None
criterion: gini
max_depth: None
max_features: sqrt
max_leaf_nodes: None
max_samples: None
min_impurity_decrease: 0.0
min_samples_leaf: 1
min_samples_split: 2
min_weight_fraction_leaf: 0.0
monotonic_cst: None
n_estimators: 100
n_jobs: None
oob_score: False
random_state: 42
verbose: 0
warm_start: False

In [125]:
from lightgbm import LGBMClassifier, early_stopping
from sklearn.metrics import accuracy_score

model = LGBMClassifier(
    objective='binary',
    boosting_type='gbdt',
    num_leaves=31,
    learning_rate=0.05,
    n_estimators=100,
    random_state=42
)

model.fit(
    X_train, y_train,
    eval_set=[(X_val, y_val)],
    eval_metric='binary_error',
    callbacks=[early_stopping(stopping_rounds=10)]
)

y_pred = model.predict(X_val)
print(f'Accuracy: {accuracy_score(y_val, y_pred):.2f}')

[LightGBM] [Info] Number of positive: 271, number of negative: 440
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000766 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 246
[LightGBM] [Info] Number of data points in the train set: 711, number of used features: 26
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.381153 -> initscore=-0.484656
[LightGBM] [Info] Start training from score -0.484656
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
Training until validation scores don't improve for 10 rounds
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
Early stopping, best iteration is:
[14]	valid_0's binary_error: 0.185393	valid_0's binary_logloss: 0.490803
Accuracy: 0.81

In [126]:
# Best performing Model so far is Random Forest.

prediction_data = pd.read_csv('C:/Users/nick.chedzoy_predict/Documents/Python/Projects/Titanic Survival Prediction/raw_data/test.csv')

In [127]:
prediction_data

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [128]:
# Prepare Prediction Data as Per Train Data

def count_nans(df):
    na_df = df.isna().sum()
    return na_df

count_nans(prediction_data)

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
              ...
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
Length: 11, dtype: int64

In [129]:
# Fill Missing Age Values by using most likley based on Class, Sex and Embarkment Location

prediction_data['Age'] = prediction_data.groupby(['Sex', 'Pclass', 'Embarked'])['Age'].transform(lambda x: x.fillna(x.median()))

In [130]:
count_nans(prediction_data)

PassengerId      0
Pclass           0
Name             0
Sex              0
Age              0
              ...
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
Length: 11, dtype: int64

In [131]:
prediction_data['Cabin_cat'] = prediction_data['Cabin'].str[0]
prediction_data

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Cabin_cat
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q,NaN
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S,NaN
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q,NaN
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S,NaN
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,24.5,0,0,A.5. 3236,8.0500,NaN,S,NaN
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S,NaN
416,1308,3,"Ware, Mr. Frederick",male,24.5,0,0,359309,8.0500,NaN,S,NaN
417,1309,3,"Peter, Master. Michael J",male,22.0,1,1,2668,22.3583,NaN,C,NaN

In [132]:
def age_bucket(age):
    if age <= 12:
        return 'Child'
    elif age <= 19:
        return 'Teen'
    elif age <= 39:
        return 'Adult'
    elif age <= 59:
        return 'Mid_Adult'
    else:
        return 'Senior'

prediction_data['age_bucket'] = prediction_data['Age'].apply(age_bucket)

In [133]:
prediction_data['Cabin_cat'] = prediction_data.groupby(['Sex','Pclass','Embarked','age_bucket'])['Cabin_cat']\
    .transform(lambda x: x.fillna(x.mode()[0] if not x.mode().empty else 'U'))

In [134]:
count_nans(prediction_data)

PassengerId      0
Pclass           0
Name             0
Sex              0
Age              0
              ...
Fare             1
Cabin          327
Embarked         0
Cabin_cat        0
age_bucket       0
Length: 13, dtype: int64

In [135]:
prediction_data = prediction_data.drop(columns = 'Cabin')

In [136]:
prediction_data['Fare'] = prediction_data.groupby(['Pclass', 'Sex'])['Fare']\
    .transform(lambda x: x.fillna(x.mode().iloc[0] if not x.mode().empty else x.mean()))

In [137]:
count_nans(prediction_data)

PassengerId    0
Pclass         0
Name           0
Sex            0
Age            0
              ..
Ticket         0
Fare           0
Embarked       0
Cabin_cat      0
age_bucket     0
Length: 12, dtype: int64

In [138]:
missing_cols = []


for col in df.columns:
    if col not in list(prediction_data.columns):
        missing_cols.append(col)

missing_cols

['Survived', 'FareBucket', 'fam_mem']

In [139]:
prediction_data['fam_mem'] = prediction_data['Parch'] + prediction_data['SibSp']

In [140]:
prediction_data['FareBucket'] = pd.qcut(prediction_data['Fare'], 4, labels=['Low','Mid','High','VeryHigh'])

In [141]:
prediction_data

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,Cabin_cat,age_bucket,fam_mem,FareBucket
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,Q,U,Adult,0,Low
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,S,U,Mid_Adult,1,Low
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,Q,U,Senior,0,Mid
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,S,F,Adult,0,Mid
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,S,U,Adult,2,Mid
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,24.5,0,0,A.5. 3236,8.0500,S,F,Adult,0,Mid
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C,C,Adult,0,VeryHigh
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,S,F,Adult,0,Low
416,1308,3,"Ware, Mr. Frederick",male,24.5,0,0,359309,8.0500,S,F,Adult,0,Mid
417,1309,3,"Peter, Master. Michael J",male,22.0,1,1,2668,22.3583,C,F,Adult,2,High

In [142]:
prediction_data = prediction_data.drop(columns=['Name','Ticket'])

In [143]:
submission_temp = pd.read_csv('C:/Users/nick.chedzoy_predict/Documents/Python/Projects/Titanic Survival Prediction/raw_data/gender_submission.csv')
submission_temp

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [144]:
pd.set_option('display.max_rows', 10)

In [145]:
# Apply one-hot encoding
prediction_data_encoded = pd.get_dummies(prediction_data)
prediction_data_encoded

,PassengerId,Pclass,Age,SibSp,Parch,Fare,fam_mem,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S,Cabin_cat_A,Cabin_cat_B,Cabin_cat_C,Cabin_cat_D,Cabin_cat_E,Cabin_cat_F,Cabin_cat_G,Cabin_cat_U,age_bucket_Adult,age_bucket_Child,age_bucket_Mid_Adult,age_bucket_Senior,age_bucket_Teen,FareBucket_Low,FareBucket_Mid,FareBucket_High,FareBucket_VeryHigh
0,892,3,34.5,0,0,7.8292,0,False,True,False,True,False,False,False,False,False,False,False,False,True,True,False,False,False,False,True,False,False,False
1,893,3,47.0,1,0,7.0000,1,True,False,False,False,True,False,False,False,False,False,False,False,True,False,False,True,False,False,True,False,False,False
2,894,2,62.0,0,0,9.6875,0,False,True,False,True,False,False,False,False,False,False,False,False,True,False,False,False,True,False,False,True,False,False
3,895,3,27.0,0,0,8.6625,0,False,True,False,False,True,False,False,False,False,False,True,False,False,True,False,False,False,False,False,True,False,False
4,896,3,22.0,1,1,12.2875,2,True,False,False,False,True,False,False,False,False,False,False,False,True,True,False,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,24.5,0,0,8.0500,0,False,True,False,False,True,False,False,False,False,False,True,False,False,True,False,False,False,False,False,True,False,False
414,1306,1,39.0,0,0,108.9000,0,True,False,True,False,False,False,False,True,False,False,False,False,False,True,False,False,False,False,False,False,False,True
415,1307,3,38.5,0,0,7.2500,0,False,True,False,False,True,False,False,False,False,False,True,False,False,True,False,False,False,False,True,False,False,False
416,1308,3,24.5,0,0,8.0500,0,False,True,False,False,True,False,False,False,False,False,True,False,False,True,False,False,False,False,False,True,False,False
417,1309,3,22.0,1,1,22.3583,2,False,True,True,False,False,False,False,False,False,False,True,False,False,True,False,False,False,False,False,False,True,False

In [146]:
pd.set_option('display.max_columns', None)

In [147]:
ids = prediction_data['PassengerId']

In [148]:
ids

0       892
1       893
2       894
3       895
4       896
       ...
413    1305
414    1306
415    1307
416    1308
417    1309
Name: PassengerId, Length: 418, dtype: int64

In [149]:
prediction_data_encoded = prediction_data_encoded.drop(columns='PassengerId')

In [150]:
missing_cols = []
unwanted_cols = []

for col in X.columns:
    if col not in list(prediction_data_encoded.columns):
        missing_cols.append(col)

for col in prediction_data_encoded.columns:
    if col not in list(X.columns):
        unwanted_cols.append(col)

print(f'Missing Columns {missing_cols}\nUnwanted Columns: {unwanted_cols}')

Missing Columns ['Cabin_cat_T']
Unwanted Columns: []

In [153]:
prediction_data_encoded['Cabin_cat_T'] = False

In [156]:
missing_cols = []
unwanted_cols = []

for col in X.columns:
    if col not in list(prediction_data_encoded.columns):
        missing_cols.append(col)

for col in prediction_data_encoded.columns:
    if col not in list(X.columns):
        unwanted_cols.append(col)

print(f'Missing Columns {missing_cols}\nUnwanted Columns: {unwanted_cols}')

Missing Columns []
Unwanted Columns: []

In [157]:
best_model = grid_search.best_estimator_
best_model

RandomForestClassifier(max_features='log2', min_samples_split=5,
                       n_estimators=500, random_state=42)

In [159]:
prediction_data_encoded = prediction_data_encoded.reindex(columns=X.columns)

In [161]:
pred = best_model.predict(prediction_data_encoded)

results = pd.DataFrame({
    'PassengerId': ids,
    'Survived': pred
})

results

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [162]:
results.to_csv('results.csv')

In [163]:
submission_temp

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]